/*header*/
body{
    margin: 0;
    background-image: url("./Images/donate\ page.JPEG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    height: 150px;
}


/*main logo*/
#logo{
    float: left;
    height: 150px;
    width: 150px; 
    margin-left: 50px;
    margin-right: auto;
}

/*main topic in header*/
header h1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 10px;
    padding: 60px;
    margin-top: 5px;
    color:black;
}


/*top left corner navigation bars*/
#nav{
    position: absolute;
    top: 25px;
    right: 80px;
}

#nav a{
    display: block;
    float: right;
    text-decoration: none;
    margin-right: 10px;
    color: black;
    font-size: 18px;
    border-bottom: solid #000000;
}

#nav a:hover{
    background-color:gainsboro;
}


/*main navigation bars*/
#pages{
    background-color: rgb(251, 198, 51);
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: cover;
    z-index: 1;
    margin: 0;
}

hr{
    background-color: black;
    width: 95%;
    top: 60px;
}

#pages a{
    text-decoration: none;
    margin: 40px;
    font-size: 22px;
    color: white;
}

#pages a:hover{    
    color: #000000;
    border-bottom: solid black;
}



#button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

#btn{
    width: 120px;
    height: 40px;
    border: none;
    color: black;
    background-color:#127281;
    border-radius: 5px;
    box-shadow:none 0 0 0 0 #000000;
    transition: ease-out 0.3s;
    font-size: 13pt;
    outline: none;
    position: relative;
    z-index: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

#btn:hover{
    color: white;
    cursor: pointer;
}

#btn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 5px;
    background-color: black;
}

#btn:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

#buyintro{

    text-align: center;
    width: 80%;
    background-color:rgb(167, 219, 95);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
}

#buyintro p{
    font-size: 14pt;
}

#buyintro section{
    padding-left: 10px;
    padding-right: 10px;
}

#merch{
    display: flex;
    margin: 10px;
}

#woodenmask{
    display: block;
    width: 25%;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5%;
    box-shadow: 10px 10px 20px 0 black;
}

#woodenmask img{
    width: auto;
}

#gems{
    display: block;
    width: 25%;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5%;
    box-shadow: 10px 10px 20px 0 black;
}

#gems img{
    width: auto;
}

#woodcarving{
    display: block;
    width: 25%;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5%;
    box-shadow: 10px 10px 20px 0 black;
}

#woodcarving img{
    width: auto;
}


#donate{
    padding: 10px;
    width: 70%;
    background-color: rgb(97, 185, 156);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#donate img{
    width: auto;
}
#donate h2{
    text-align: justify;
}

#donate p{
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
}


#button1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

#btn1{
    width: 120px;
    height: 40px;
    border: none;
    color: black;
    background-color:#d4a31c;
    border-radius: 5px;
    box-shadow:none 0 0 0 0 #000000;
    transition: ease-out 0.3s;
    font-size: 13pt;
    outline: none;
}

#btn1:hover{
    box-shadow: inset 151px 0 0 0 #000000;
    color: white;
    cursor: pointer;
}
















/*footer*/
footer{
    background-color: #955f0e;
    background-size: cover;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    height: 300px;
    opacity: 0.8;
}

/*SL tea board*/
#slteaboard{
    position: absolute;
    list-style-type: none;
    top: 80px;
    left: 150px;
    font-size: 13pt;
    
}

#slteaboardimg{
    display: flex;
    position: absolute;
    width: 60px;
    height: 80px;
    top: 70px;
    left: 60px;
}


/*SL tea exporters association*/
#slteaexporters{
    position: absolute;
    top: 200px;
    left: 150px;
    font-size: 13pt;

}

#slteaexportersimg{
    display: flex;
    position: absolute;
    width: 80px;
    height: 60px;
    top: 200px;
    left: 50px;
}

footer div a{
    color: white;
    font-size: 14pt;
    padding-left: 10px;
}

#info p{
    color: white;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 10px;
    font-size: 13pt;
}

footer div a:hover{
    color: black;
    background-color: white;
}

#footerlogo{
    height: 200px;
    width: 200px;
    position: absolute;
    float: right;
    top: 50px;
    right: 50px;
}

#arr{
    position: absolute;
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    top: 270px;
    left: 2%;
    right: 2%;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}


/*media query*/
    
/*header main topic*/
@media(max-width: 768px){
    #compnyname{
        display: flex;
        position:relative;
        text-align: center;
        width: auto;
        font-size: 18pt;
        padding: 0;
        margin: 15%;
    }
    /*main logo*/
    #logo{
        top: 30px;
        margin-left: 5px;
        width: 100px;
        height: 100px;
    }
}




/*top right corner navigation bar*/
@media(max-width: 768px){
    #nav{
        width: auto;
        right: 0;
    }
}

/*Main navigation bars*/
@media(max-width: 768px){
    #pages a{
        margin: 20px;
        font-size: 15pt;
        line-height: 30px;
    }
    #pages{
        padding-left: 0%;
        padding-right: 0%;
        text-align:justify;
        background-size: cover;
        margin: 0;
    }
}

@media(max-width: 525px){
    #pages a{
        margin: 10px;
        font-size: 15pt;
        line-height: 30px;
        text-decoration: underline white;
    }
    #pages{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        text-align:justify;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #pages a:hover{
        text-decoration: none;
    }
}

@media(max-width: 1400px){
    #merch{
        margin: auto;
    }
    #merch img{
        width: 200px;
    }
}

@media(max-width: 900px){
    #merch{
        margin: 0;
    }
    #woodenmask, #gems, #woodcarving{
        margin: auto;
    }
}

@media(max-width: 840px){
    #woodenmask img, #woodcarving img, #gems img{
        width: 150px;
    }
}

@media(max-width: 580px){
    #merch h2{
        font-size: 12pt;
    }
    #merch{
        display: block;
        width: 100%;
    }

    #woodenmask, #woodcarving, #gems{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #woodenmask img, #woodcarving img, #gems img{
        width: 100px;
    }
    #btn{
        width: 100px;
        height: 30px;
    }
}

@media(max-width: 375px){
    #woodenmask img, #woodcarving img, #gems img{
        width: 80px;
    }
    #btn{
        width: 90px;
        height: 25px;
        font-size: 12pt;
    }
}


@media(max-width: 590px){
    #donate img{
        width: 300px;
    }
}

@media(max-width: 430px){
    #donate img{
        width: 200px;
    }
}























/*footer logo*/
@media(max-width: 1150px){
    #footerlogo{
        width: 100px;
        height: 100px;
        top: 15px;
        right: 10px;
    }
}


/*SL Tea board & SL Tea axporters association */
@media(max-width: 768px){
    #slteaboard{
        left: 60px;
        top: 60px;
        font-size: 12pt;
    }
    #slteaexporters{
        left: 80px;
        font-size: 12pt;
    }
}

@media screen and (max-width: 450px){
    #slteaexporters{
        top: 170px;
    }
}


/*SL tea board & SL tea exporters footer logo image*/
@media(max-width: 768px){
    #slteaboardimg{
        width: 50px;
        height: 70px;
        left: 10px;
        top: 50px;
    }
    #slteaexportersimg{
        width: 70px;
        height: 50px;
        left: 10px;
    }
}

@media screen and (max-width: 450px){
    #slteaexportersimg{
        top: 170px;
    }
}


/*footer copyright element*/
@media(max-width: 768px){
    #arr{
        font-size: 11pt;
    }
}

@media screen and (max-width: 450px){
    #arr{
        top: 250px;
    }
}