body{
    overflow-x: hidden;
    margin: 0;
    background-image: url("./Images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    height: 150px;
}

#logo{
    float: left;
    height: 150px;
    width: 150px; 
    margin-left: 50px;
    margin-right: auto;
}

header h1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 10px;
    padding: 60px;
    margin-top: 5px;
    color:black;
}

#nav{
    position: absolute;
    top: 25px;
    right: 80px;
}

#nav a{
    display: block;
    float: right;
    text-decoration: none;
    margin-right: 10px;
    color: black;
    font-size: 18px;
    border-bottom: solid #000000;
}

#nav a:hover{
    background-color:gainsboro;
}


#pages{
    background-color: rgb(251, 198, 51);
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
    margin: 0;
}

hr{
    background-color: black;
    width: 95%;
    top: 60px;
}

#pages a{
    text-decoration: none;
    margin: 40px;
    font-size: 22px;
    color: white;
}

#pages a:hover{    
    color: #000000;
    border-bottom: solid black;
}

#pages a:active{
    background-color: darkseagreen;
    color: black;
}


#museumimg1{
    position: relative;
    margin: 15px;
}

#museumimg2{
    position: relative;
    margin-top: 50px;
    left: 25%;
}

#teamuseum{
    background-image: url(./Images/museum.JPEG);
    color: rgb(0, 0, 0);
    background-size: cover;
    position: relative;
    left: 45%;
    width: 50%;
    margin-top: 50px;
    text-align: justify;
}

#teamuseum h2{
    padding: 15px;
    text-decoration: underline;
}

#teamuseum p{
    padding: 20px;
    font-size: 15pt;
}

#museummap h2{
    padding: 15px;
    text-decoration: underline;
}

#museummap{
    margin: 20px;
    width: 70%;
    margin-bottom: 30px;
    background-color: rgb(140, 150, 129);
}

#teamuseummap{
    position: relative;
    width: 70%; 
    height: 350px;
    left: 10%;
    margin: 50px;
}


footer{
    background-color: #955f0e;
    background-size: cover;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    height: 300px;
    opacity: 0.8;
}

#slteaboard{
    position: absolute;
    list-style-type: none;
    top: 80px;
    left: 150px;
    font-size: 13pt;
    
}

#slteaboardimg{
    display: flex;
    position: absolute;
    width: 60px;
    height: 80px;
    top: 70px;
    left: 60px;
}

#slteaexporters{
    position: absolute;
    top: 200px;
    left: 150px;
    font-size: 13pt;

}

#slteaexportersimg{
    display: flex;
    position: absolute;
    width: 80px;
    height: 60px;
    top: 200px;
    left: 50px;
}

footer div a{
    color: white;
    font-size: 14pt;
    padding-left: 10px;
}

#info p{
    color: white;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 10px;
    font-size: 13pt;
}

footer div a:hover{
    color: black;
    background-color: white;
}

#footerlogo{
    height: 200px;
    width: 200px;
    position: absolute;
    float: right;
    top: 50px;
    right: 50px;
}

#arr{
    position: absolute;
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    top: 270px;
    left: 2%;
    right: 2%;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}




/*media query*/
    
/*header main topic*/
@media(max-width: 768px){
    #compnyname{
        display: flex;
        position:relative;
        text-align: center;
        width: auto;
        font-size: 18pt;
        padding: 0;
        margin: 15%;
    }
    /*main logo*/
    #logo{
        top: 30px;
        margin-left: 5px;
        width: 100px;
        height: 100px;
    }
}




/*top right corner navigation bar*/
@media(max-width: 768px){
    #nav{
        width: auto;
        right: 0;
    }
}

/*Main navigation bars*/
@media(max-width: 768px){
    #pages a{
        margin: 20px;
        font-size: 15pt;
        line-height: 30px;
    }
    #pages{
        padding-left: 0%;
        padding-right: 0%;
        text-align:justify;
        background-size: cover;
        margin: 0;
    }
}

@media(max-width: 525px){
    #pages a{
        margin: 10px;
        font-size: 15pt;
        line-height: 30px;
        text-decoration: underline white;
    }
    #pages{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        text-align:justify;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #pages a:hover{
        text-decoration: none;
    }
}


/*tea museum images*/
@media screen and (max-width: 820px){
    #museumimg1, #museumimg2{
        
        display: inline-block;
        position: relative;
        object-fit: scale-down;
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        left: 0;
    }
}


    @media screen and(max-width: 450){
    #museumimg1, #museumimg2{
        display: inline-block;
        width: 25%;
        position:absolute;
        height: auto;
        margin-left: 0;
        margin-right: 0;
     }
}


    /*tea museum description*/
    @media(max-width: 820px){
    #teamuseum{
        left: 0;
        margin-left: 10%;
        margin-right: 10%;
        object-fit: scale-down;
        width: auto;
        height: auto;
    }
}



    /*tea museum map*/
    @media(max-width: 820px){
    #museummap{
        height: auto;
        width: auto;
        object-fit: scale-down;
        margin-left: 10%;
        margin-right: 10%;
        left: 0;
    }

    #teamuseummap{
        left: 0;
        
    }
}



/*footer logo*/
@media(max-width: 1150px){
    #footerlogo{
        width: 100px;
        height: 100px;
        top: 15px;
        right: 10px;
    }
}


/*SL Tea board & SL Tea axporters association */
@media(max-width: 768px){
    #slteaboard{
        left: 60px;
        top: 60px;
        font-size: 12pt;
    }
    #slteaexporters{
        left: 80px;
        font-size: 12pt;
    }
}

@media screen and (max-width: 450px){
    #slteaexporters{
        top: 170px;
    }
}


/*SL tea board & SL tea exporters footer logo image*/
@media(max-width: 768px){
    #slteaboardimg{
        width: 50px;
        height: 70px;
        left: 10px;
        top: 50px;
    }
    #slteaexportersimg{
        width: 70px;
        height: 50px;
        left: 10px;
    }
}

@media screen and (max-width: 450px){
    #slteaexportersimg{
        top: 170px;
    }
}


/*footer copyright element*/
@media(max-width: 768px){
    #arr{
        font-size: 11pt;
    }
}

@media screen and (max-width: 450px){
    #arr{
        top: 250px;
    }
}